body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
#main{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border:0.1vmin solid black;
    height:99.1vmin;
    width: 99.1vmin;
}
.box{
    float: left;
    height: 9.601vmin;
    width: 9.602vmin;
    border:0.1vmin solid black;
    text-align: center;
    line-height: 9.601vmin;
    font-size: 2.5vmin;
    background-color: rgb(202, 187, 187);
}
.player{
    position: absolute;
    top: 90.9vmin;
    left: 3vmin;
    height: 4vmin;
    width: 4vmin;
    border-radius: 50%;
    opacity: 0.7;
    transition-duration: 0.6s;
    transition-property: margin;
}
.player:nth-child(1){
    background-color: red;
}
.player:nth-child(2){
    background-color: blue;
}